<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load the properties file -->
    <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your dependency beans here -->
    <bean id="myFortuneService"
          class="com.nitesh.springdemo.HappyFortuneService"></bean>

    <!-- Define your beans here -->
    <bean id="myCoach"
          class="com.nitesh.springdemo.BaseballCoach">

        <!-- set-up constructor injector to inject the dependency-->
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myCricketCoach"
          class="com.nitesh.springdemo.CricketCoach">

        <!-- set-up setter injector to inject the dependency -->
        <property name="fortuneService" ref="myFortuneService" />

        <!-- set-up literal injector by hard coding values to inject the literal values -->
        <!--
        <property name="emailAddress" value="thebestcoach@nitesh.com" />
        <property name="team" value="Bayern Munich" />
        -->

        <!-- set-up literal injector using properties file to inject the literal values -->
        <property name="emailAddress" value="${foo.email}" />
        <property name="team" value="${foo.team}" />

    </bean>
    
</beans>





